@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "helper";

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #303030;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #595959;
}


* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
  line-height: normal;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 16px;
  }
}




.container {
  max-width: 1350px;
  width: 100%;
}

.def-btn{
  border-radius: 13px;
  background: #E83B3A;
  display: flex;
  padding: 1.375rem 3.105875rem 1.4375rem 3.105875rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFF;
  font-size: 1.1895rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  @media (max-width: 576px) {
    padding: 1.375rem 2.8rem 1.4375rem 2.8rem;
    font-size: 1.1rem;
  }
}


header{
  width: 100%;
  height: 1000px;
  background: url("../images/header-bg.svg") no-repeat center bottom;
  background-size: contain;
}

.functions{
  &-item{
    border-radius: 2.5rem;
    border: 2px solid #E83B3A;
    height: 19.1875rem;
    padding: 2.3125rem 4.0625rem;
    &.blue{
      border-radius: 40px;
      background: linear-gradient(102deg, rgba(0, 0, 0, 0.12) 41.42%, rgba(0, 0, 0, 0.00) 83.15%), #495AEF;
      box-shadow: 0 14px 60.4px 0 rgba(73, 110, 239, 0.50);
      border: 0;
    }
  }
}


.About-program{
    margin-top: 8rem;
  position: relative;

  &-bg{
    position: absolute;
    left: -4%;
    top: -320px;
    z-index: -1;
    @media (max-width: 768px) {
      display: none;
    }
  }

  &-heading{
    margin-left: 3.5625rem;
    margin-bottom: 3.5625rem;
    @media (max-width: 768px) {
      margin-left: 1.5625rem;
      margin-bottom: 2.8125rem;
    }
    h2{
      color: #333;
      font-size: 2.6875rem;
      font-weight: 700;
      line-height: 178.509%; /* 76.759px */
      margin-bottom: -8px;
      padding-bottom: 0;
      @media (max-width: 576px) {
        font-size: 2rem;
      }
    }
    span{
      color: #828282;
      font-size: 1.8125rem;
      font-weight: 300;
      line-height: 178.509%;
      @media (max-width: 576px) {
        font-size: 1.25rem;
      }
    }
  }

  .image{
    @media (max-width: 768px) {
      margin-bottom: 1.5625rem;
    }
    img{
      width: 100%;
      height: 100%;
    }
  }

  .col-box{
    padding-left: 2.1875rem;
    @media (max-width: 768px) {
      padding-left: 0;
    }
    p{
     max-width: 700px;
      width: 100%;
      color: #333;
      font-size: 1rem;
      font-weight: 400;
      line-height: 202.489%; /* 32.398px */
      @media (max-width: 576px) {
        font-size: 0.875rem;
      }
      span{
        font-weight: 700;
      }
    }
    &-button{
      width: 100%;
      text-align: center;
      margin-top: 3.75rem;
      @media (max-width: 576px) {
        margin-top: 3rem;
      }
      button{
        margin: 0 auto;
      }
    }
  }

}