@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #303030;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #595959;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  line-height: normal;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 16px;
  }
}
.container {
  max-width: 1360px;
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.def-heading h2 {
  color: #333;
  font-size: 2.6875rem;
  font-weight: 700;
  line-height: 178.509%; /* 76.759px */
  margin-bottom: -8px;
  padding-bottom: 0;
}
@media (max-width: 576px) {
  .def-heading h2 {
    font-size: 2rem;
    margin-bottom: -3px;
    line-height: 128%;
  }
}
.def-heading span {
  color: #828282;
  font-size: 1.8125rem;
  font-weight: 300;
  line-height: 178.509%;
}
@media (max-width: 576px) {
  .def-heading span {
    font-size: 1.25rem;
  }
}

.def-btn {
  border-radius: 13px;
  background: #E83B3A;
  padding: 1.375rem 3.105875rem 1.4375rem 3.105875rem;
  color: #FFF;
  font-size: 1.1895rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 576px) {
  .def-btn {
    padding: 1.375rem 2.8rem 1.4375rem 2.8rem;
    font-size: 1.1rem;
  }
}

.header {
  width: 100%;
  height: 1000px;
  background: url("../images/header-bg.svg") no-repeat center bottom;
  background-size: contain;
  position: relative;
  overflow: hidden;
  padding-top: 39px;
}
@media (max-width: 576px) {
  .header {
    background-size: 305%;
    background-position: 82% bottom;
  }
}
.header .pattern-left {
  position: absolute;
  left: 0;
  top: 0;
}
.header .pattern-right {
  position: absolute;
  right: 0;
  top: 0;
}
.header-title {
  color: #333;
  font-size: 43px;
  font-weight: 800;
  width: 100%;
  max-width: 932px;
  margin-top: 70px;
  text-shadow: rgb(255, 255, 255) 6px 0 0, rgb(255, 255, 255) 5.91686px 0.995377px 0, rgb(255, 255, 255) 5.66974px 1.96317px 0, rgb(255, 255, 255) 5.2655px 2.87655px 0px, rgb(255, 255, 255) 4.71532px 3.71022px 0, rgb(255, 255, 255) 4.03447px 4.44106px 0, rgb(255, 255, 255) 3.24181px 5.04883px 0, rgb(255, 255, 255) 2.35931px 5.51667px 0px, rgb(255, 255, 255) 1.41143px 5.83163px 0, rgb(255, 255, 255) 0.424423px 5.98497px 0, rgb(255, 255, 255) -0.574341px 5.97245px 0px, rgb(255, 255, 255) -1.55719px 5.79441px 0px, rgb(255, 255, 255) -2.49688px 5.45578px 0px, rgb(255, 255, 255) -3.36738px 4.96596px 0px, rgb(255, 255, 255) -4.14455px 4.33852px 0px, rgb(255, 255, 255) -4.80686px 3.59083px 0px, rgb(255, 255, 255) -5.33596px 2.74364px 0px, rgb(255, 255, 255) -5.71718px 1.8204px 0px, rgb(255, 255, 255) -5.93995px 0.84672px 0px, rgb(255, 255, 255) -5.99811px -0.150428px 0px, rgb(255, 255, 255) -5.89004px -1.14341px 0px, rgb(255, 255, 255) -5.61874px -2.1047px 0px, rgb(255, 255, 255) -5.19172px -3.00766px 0px, rgb(255, 255, 255) -4.62082px -3.82727px 0px, rgb(255, 255, 255) -3.92186px -4.54081px 0px, rgb(255, 255, 255) -3.11421px -5.12852px 0px, rgb(255, 255, 255) -2.22026px -5.57409px 0px, rgb(255, 255, 255) -1.26477px -5.86518px 0px, rgb(255, 255, 255) -0.274238px -5.99373px 0px, rgb(255, 255, 255) 0.723898px -5.95617px 0px, rgb(255, 255, 255) 1.70197px -5.75355px 0px, rgb(255, 255, 255) 2.63288px -5.39147px 0px, rgb(255, 255, 255) 3.49082px -4.87998px 0px, rgb(255, 255, 255) 4.25202px -4.23324px 0px, rgb(255, 255, 255) 4.89538px -3.46919px 0px, rgb(255, 255, 255) 5.40307px -2.60899px 0px, rgb(255, 255, 255) 5.76102px -1.67649px 0px, rgb(255, 255, 255) 5.95932px -0.697531px 0px;
}
@media (max-width: 767px) {
  .header-title {
    margin-top: 300px;
    font-size: 29px;
  }
}
.header-title span {
  color: #495AEF;
}
@media (max-width: 767px) {
  .header .def-btn {
    background: linear-gradient(102deg, rgba(0, 0, 0, 0.12) 41.42%, rgba(0, 0, 0, 0) 83.15%), #495AEF;
  }
}
.header-time {
  width: auto;
  position: absolute;
  top: 175px;
  right: 10px;
}
@media (max-width: 1251px) {
  .header-time {
    top: 395px;
    background: rgba(255, 255, 255, 0.3490196078);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
  }
}
@media (max-width: 767px) {
  .header-time {
    right: unset;
    left: 50%;
    transform: translateX(-50%);
    top: 184px;
  }
}
@media (max-width: 576px) {
  .header-time {
    width: 90%;
  }
}
.header-time-title {
  color: #5A5A5A;
  font-size: 19.03px;
  font-weight: 500;
  margin-bottom: 39px;
}
@media (max-width: 767px) {
  .header-time-title {
    text-align: center;
  }
}
.header-time-body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-time-item {
  border: 2px solid #5A5A5A;
  border-radius: 10px;
  width: 59.727px;
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
}
.header-time-item:nth-of-type(2) {
  margin-left: 10px;
  margin-right: 10px;
}
.header-time-item-count {
  font-size: 35px;
  color: #5A5A5A;
  font-weight: 700;
}
.header-time-item-name {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 16px;
  color: #5A5A5A;
}

.menu-site {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-site-item {
  color: #5A5A5A;
  font-size: 16px;
  font-weight: 500;
  margin-right: 19px;
  transition: 0.3s;
  white-space: nowrap;
}
@media (max-width: 1217px) {
  .menu-site-item {
    margin-bottom: 20px;
  }
}
.menu-site-item:hover {
  color: #E83B3A;
}
.menu-site-item.active {
  color: #E83B3A;
}
.menu-site-item:last-child {
  margin-right: 0;
}
.menu-site-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 1217px) {
  .menu-site-items {
    flex-wrap: wrap;
    justify-content: start;
  }
}
@media (max-width: 767px) {
  .menu-site-items {
    display: none;
  }
}
.menu-site-items-solid-one {
  width: 52px;
  height: 2px;
  background: #E83B3A;
  position: absolute;
  left: 0;
  bottom: -17px;
  transition: 0.5s;
}
@media (max-width: 1217px) {
  .menu-site-items-solid-one {
    display: none;
  }
}
.menu-site-items-solid-two {
  width: 29px;
  height: 2px;
  background: #E83B3A;
  position: absolute;
  left: 0;
  bottom: -22px;
  transition: 0.8s;
}
@media (max-width: 1217px) {
  .menu-site-items-solid-two {
    display: none;
  }
}

@media (max-width: 767px) {
  .functions {
    margin-top: -10px;
  }
}
@media (max-width: 576px) {
  .functions-logo-img {
    width: 200px;
    height: 100px;
    transform: translateX(-20px);
  }
}
@media (max-width: 768px) {
  .functions-row {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .functions-row::-webkit-scrollbar {
    width: 5px;
    height: 0;
    border-radius: 5px;
  }
}
@media (max-width: 768px) {
  .functions-row .row {
    width: 1200px;
  }
}
@media (max-width: 576px) {
  .functions-row .row {
    width: 1000px;
  }
}
@media (max-width: 376px) {
  .functions-row .row {
    width: 900px;
  }
}
.functions-item {
  border-radius: 2.5rem;
  border: 2px solid #E83B3A;
  padding: 2.3125rem 4.0625rem;
  height: 100%;
  transition: 0.3s;
}
.functions-item:hover {
  background: linear-gradient(102deg, rgba(0, 0, 0, 0.12) 41.42%, rgba(0, 0, 0, 0) 83.15%), #495AEF;
  border: 2px solid #495AEF;
}
@media (min-width: 768px) {
  .functions-item:hover {
    box-shadow: 0 14px 60.4px 0 rgba(73, 110, 239, 0.5);
  }
}
.functions-item:hover p {
  color: #fff;
}
.functions-item:hover svg {
  fill: #fff;
}
.functions-item:hover svg path {
  fill: #fff;
}
.functions-item:hover .usa [fill="#495AEF"] {
  fill: #495AEF;
}
@media (max-width: 576px) {
  .functions-item {
    padding: 1.3784375rem 2.421625rem;
  }
}
.functions-item.blue {
  border-radius: 40px;
}
@media (max-width: 768px) {
  .functions-item.blue {
    border-radius: 2.5rem;
    background: #fff;
    border: 2px solid #E83B3A;
    padding: 2.3125rem 4.0625rem;
    height: 100%;
  }
}
@media (max-width: 768px) and (max-width: 576px) {
  .functions-item.blue {
    padding: 1.3784375rem 2.421625rem;
  }
}

.About-program {
  margin-top: 8rem;
  position: relative;
}
@media (max-width: 576px) {
  .About-program {
    margin-top: 4.25rem;
  }
}
.About-program-bg {
  position: absolute;
  left: -4%;
  top: -280px;
  z-index: -1;
  width: 1200px;
  height: 1300px;
}
@media (max-width: 768px) {
  .About-program-bg {
    width: 700px;
    height: 700px;
    left: -20%;
    top: -90px;
  }
}
@media (max-width: 576px) {
  .About-program-bg {
    width: 700px;
    height: 700px;
    top: -120px;
    left: -35%;
  }
}
.About-program-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.About-program-heading {
  margin-left: 3.5625rem;
  margin-bottom: 3.5625rem;
}
@media (max-width: 768px) {
  .About-program-heading {
    margin-left: 1.5625rem;
    margin-bottom: 2.8125rem;
  }
}
.About-program-heading h2 {
  color: #333;
  font-size: 2.6875rem;
  font-weight: 700;
  line-height: 178.509%; /* 76.759px */
  margin-bottom: -8px;
  padding-bottom: 0;
}
@media (max-width: 576px) {
  .About-program-heading h2 {
    font-size: 2rem;
  }
}
.About-program-heading span {
  color: #828282;
  font-size: 1.8125rem;
  font-weight: 300;
  line-height: 178.509%;
}
@media (max-width: 576px) {
  .About-program-heading span {
    font-size: 1.25rem;
  }
}
@media (max-width: 768px) {
  .About-program .image {
    margin-bottom: 1.5625rem;
  }
}
.About-program .image img {
  width: 100%;
  height: 100%;
}
.About-program .col-box {
  padding-left: 2.1875rem;
}
@media (max-width: 768px) {
  .About-program .col-box {
    padding-left: 0;
  }
}
.About-program .col-box p {
  max-width: 700px;
  width: 100%;
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  line-height: 202.489%; /* 32.398px */
}
@media (max-width: 576px) {
  .About-program .col-box p {
    font-size: 0.875rem;
  }
}
.About-program .col-box p span {
  font-weight: 700;
}
.About-program .col-box-button {
  width: 100%;
  text-align: center;
  margin-top: 3.75rem;
}
@media (max-width: 576px) {
  .About-program .col-box-button {
    margin-top: 3rem;
  }
}
.About-program .col-box-button button {
  margin: 0 auto;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  padding-left: 0;
}
.slick-dots li {
  position: relative;
  width: 9px;
  height: 9px;
  margin: 0 5px;
  background: #495AEF;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-dots li.slick-active {
  width: 14px;
  height: 14px;
}
.slick-dots li.slick-active button {
  background: #E83B3A;
}
.slick-dots li button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:before {
  content: "";
  opacity: 0.75;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75 !important;
  color: #FF6900 !important;
}

.stages-program {
  background: #F9FAFD;
  margin-top: 9.1875rem;
  padding-bottom: 3.5rem;
  position: relative;
}
@media (max-width: 768px) {
  .stages-program {
    margin-top: 3.75rem;
  }
}
.stages-program-heading {
  padding-top: 3.75rem;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 768px) {
  .stages-program-heading {
    margin-top: 2.375rem;
  }
}
.stages-program-heading h2 {
  color: #333;
  text-align: center;
  font-size: 2.6875rem;
  font-weight: 700;
  line-height: 178.509%; /* 76.759px */
  margin-bottom: -8px;
  padding-bottom: 0;
}
@media (max-width: 576px) {
  .stages-program-heading h2 {
    font-size: 2rem;
    line-height: unset;
  }
}
.stages-program-heading span {
  color: #828282;
  font-size: 1.8125rem;
  font-weight: 300;
  line-height: 178.509%;
}
@media (max-width: 576px) {
  .stages-program-heading span {
    font-size: 1.25rem;
  }
}
.stages-program .slider-btn {
  margin: 0 auto;
  display: none;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 768px) {
  .stages-program .slider-btn {
    display: flex;
    justify-content: center;
  }
}
.stages-program .slider-btn img {
  cursor: pointer;
}
.stages-program-row {
  margin-top: 4.375rem;
  position: relative;
}
@media (max-width: 768px) {
  .stages-program-row {
    margin-top: 6.9rem;
  }
}
.stages-program-row-box .icon {
  position: relative;
  margin: 0 auto;
}
.stages-program-row-box .icon-etaps {
  margin: 0 auto;
  width: 96px;
  height: 96px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}
.stages-program-row-box .icon-right {
  position: absolute;
  top: 50%;
  transform: rotateY(-50%);
  right: -48px;
}
.stages-program-row-box .title {
  margin: 42px 0;
}
.stages-program-row-box .title h2 {
  margin-bottom: 0;
  padding-bottom: 0;
  color: #000;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 150%; /* 36px */
}
.stages-program-row-box .sub-title {
  padding-left: 1.5rem;
  color: #333;
  max-width: 262px;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 202.489%; /* 32.398px */
}
@media (max-width: 768px) {
  .stages-program-row-box .sub-title {
    padding-left: 0;
    margin: 0 auto 20px auto;
  }
}

.requirements {
  margin-top: 7.75rem;
}
@media (max-width: 576px) {
  .requirements {
    margin-top: 3.125rem;
  }
}
.requirements .image {
  max-width: 1300px;
  width: 100%;
  position: absolute;
  right: -45%;
  top: -35%;
  height: auto;
}
@media (max-width: 1200px) {
  .requirements .image {
    right: -50%;
    max-width: 1200px;
    top: -30%;
  }
}
@media (max-width: 1024px) {
  .requirements .image {
    right: -50%;
    max-width: 1000px;
    top: -22%;
  }
}
@media (max-width: 992px) {
  .requirements .image {
    left: 0;
    max-width: 1000px;
    top: -18%;
  }
}
@media (max-width: 768px) {
  .requirements .image {
    left: 0;
    max-width: 1100px;
    top: -10%;
  }
}
@media (max-width: 688px) {
  .requirements .image {
    top: -7%;
  }
}
@media (max-width: 576px) {
  .requirements .image {
    left: 0;
    max-width: unset;
    width: 700px;
    top: -8%;
  }
}
@media (max-width: 475px) {
  .requirements .image {
    top: -10%;
  }
}
@media (max-width: 426px) {
  .requirements .image {
    top: -5%;
    left: -3%;
  }
}
@media (max-width: 376px) {
  .requirements .image {
    top: -4%;
    left: -4%;
  }
}
.requirements .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: -31%;
}
.requirements-row {
  margin-top: 6.125rem;
}
@media (max-width: 992px) {
  .requirements-row {
    margin-top: 30.5rem;
  }
}
@media (max-width: 768px) {
  .requirements-row {
    margin-top: 25.5rem;
  }
}
@media (max-width: 576px) {
  .requirements-row {
    margin-top: 20.5rem;
  }
}
.requirements-row .col-box {
  width: 100%;
  height: 100%;
}
.requirements-row .col-box .texts {
  display: flex;
  align-items: start;
  margin-bottom: 2.5rem;
}
@media (max-width: 576px) {
  .requirements-row .col-box .texts {
    flex-direction: column;
    justify-content: start;
    margin-bottom: 2rem;
  }
}
.requirements-row .col-box .texts:last-child {
  margin-bottom: 0;
}
.requirements-row .col-box .texts .blue {
  border-radius: 30px;
  width: 91px;
  height: 91px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12.5px;
  background: linear-gradient(102deg, rgba(0, 0, 0, 0.12) 41.42%, rgba(0, 0, 0, 0) 83.15%), #495AEF;
  color: var(--White, #FFF);
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
}
@media (max-width: 576px) {
  .requirements-row .col-box .texts .blue {
    width: 72px;
    height: 72px;
    padding: 9.753px;
    margin-bottom: 1.125rem;
  }
}
.requirements-row .col-box .texts .title {
  margin-left: 1.6875rem;
  color: #000;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 150%; /* 30px */
  max-width: 33.875rem;
  width: 100%;
}
@media (max-width: 576px) {
  .requirements-row .col-box .texts .title {
    margin-left: 0;
  }
}

.sendForm .def-heading {
  margin: 0 auto 28px auto;
  text-align: center;
}
@media (max-width: 576px) {
  .sendForm .def-heading {
    text-align: start;
    margin-bottom: 50px;
  }
}
.sendForm-body {
  background: url("../images/form.webp") no-repeat center;
  background-size: cover;
  padding-top: 72px;
  padding-bottom: 106px;
}
@media (max-width: 576px) {
  .sendForm-body-title {
    max-width: 307px;
    margin: 0 auto !important;
    width: 100%;
  }
}
.sendForm-body form {
  width: 100%;
  border-radius: 25px;
  background: #FFF;
  box-shadow: 0 4px 8.8px 0 rgba(29, 38, 62, 0.12);
  padding: 34px 24px;
}
@media (max-width: 576px) {
  .sendForm-body form {
    padding: 30px 12px;
  }
}

.def-input {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  margin-bottom: 0.625rem;
}
@media (max-width: 992px) {
  .def-input {
    margin-bottom: 0;
  }
}
.def-input.active span {
  transform: translateY(22px);
  opacity: 1;
  color: #828282;
  font-size: 11px;
  font-weight: 400;
}
.def-input.active input {
  border: 2px solid #333;
}
.def-input span {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.4375rem;
  color: #000;
  transform: translateY(40px);
  transition: 0.3s;
  cursor: text;
  opacity: 0.9;
  margin-left: 19px;
}
.def-input input {
  width: 100%;
  height: 3.6875rem;
  border-radius: 1.0625rem;
  border: 2px solid #D8D8D8;
  font-style: normal;
  transition: 0.3s;
  color: #333;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%; /* 27px */
  padding-left: 19px;
}
.def-input.error input {
  border: 2px solid #f33a3a;
}

.select2 {
  width: 100% !important;
}
.select2 .selection {
  width: 100%;
}

.select2-container--default .select2-selection--single {
  width: 100%;
  height: 59px;
  border-radius: 17px;
  border: 2px solid #D8D8D8;
  margin-bottom: 10px;
  transition: 0.3s;
  color: #333;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%; /* 27px */
  padding-top: 10px;
  padding-left: 19px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 2px solid #333;
}

.select2-container--open .select2-dropdown--below {
  margin-top: -10px;
  border-radius: 0 0 17px 17px;
  border: 2px solid #D8D8D8;
  background: #FFF;
  border-top: 0;
  overflow: auto;
}

.select2-selection__arrow:after {
  content: "\f078";
  font-family: FontAwesome, serif;
  position: absolute;
  top: 18px;
  right: 32px;
  color: #D8D8D8;
  transition: 0.3s;
  transform: rotate(0);
}
.select2-selection__arrow b {
  display: none;
}

.select2-container--open .select2-selection__arrow:after {
  transform: rotate(-180deg);
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #333;
  font-size: 18px;
  line-height: 150%;
  margin-top: 3px;
  font-weight: 700;
  padding-left: 0;
}

.select2-results__option--selectable {
  color: #333;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%; /* 27px */
  padding-left: 19px;
}

.select2-container--default .select2-results__option--selected {
  background: #FFECEC;
}

.reviews {
  width: 100%;
}
.reviews .def-heading {
  text-align: center;
}
.reviews .slider-btn {
  display: none;
}
@media (max-width: 992px) {
  .reviews .slider-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.4375rem;
  }
}
.reviews-item {
  height: 395px;
  padding: 31px 34px 21px 34px;
  border-radius: 22px;
  border: 1px solid #E3E3E3;
  background: #FFF;
  position: relative;
  transition: 0.3s;
}
@media (max-width: 1200px) {
  .reviews-item {
    height: 450px;
  }
}
@media (max-width: 1060px) {
  .reviews-item {
    height: 490px;
  }
}
@media (max-width: 1024px) {
  .reviews-item {
    height: 420px;
  }
}
@media (max-width: 576px) {
  .reviews-item {
    height: auto;
  }
}
.reviews-item:hover {
  box-shadow: 0 5px 19.7px 0 rgba(35, 32, 38, 0.12);
}
.reviews-item-more {
  color: #495AEF;
  text-align: right;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%; /* 21px */
  position: absolute;
  bottom: 34px;
  right: 34px;
}
@media (max-width: 576px) {
  .reviews-item-more {
    bottom: 21px;
  }
}

.mobile-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2784313725);
  transform: translateX(-100%);
  opacity: 0;
  transition: 0.3s;
  padding: 40px 25px 25px;
}
.mobile-menu.active {
  transform: translateX(0);
  opacity: 1;
}
.mobile-menu-items {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.mobile-menu-item {
  color: #333;
  display: block;
  font-size: 18px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.26);
  width: 100%;
  padding-bottom: 5px;
  transition: 0.3s;
}
.mobile-menu-item:hover {
  border-bottom: 1px solid rgb(51, 51, 51);
}
.mobile-menu-item:last-child {
  border: 0;
}

@media (max-width: 768px) {
  .speakers-slider-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 90%;
  }
}
.speakers .pattern-left {
  position: absolute;
  left: 0;
  top: -16%;
}
.speakers-item {
  margin-right: 66px;
}
@media (max-width: 576px) {
  .speakers-item {
    margin-right: 0;
  }
}
@media (max-width: 576px) {
  .speakers-item-user-logo {
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .speakers-item-text1 {
    text-align: center;
  }
}
.speakers-arrows * {
  transition: 0.3s;
}
.speakers-arrows:hover * {
  fill: #495AEF;
}

.questions {
  margin-top: 11.875rem;
  margin-bottom: 9.1875rem;
}
@media (max-width: 576px) {
  .questions {
    margin-top: 2.5rem;
    margin-bottom: 8.125rem;
  }
}
.questions-wrapper {
  max-width: 957px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 576px) {
  .questions-wrapper .def-heading {
    margin: 0 auto;
    text-align: center;
  }
}
.questions-wrapper-accordion {
  margin-top: 4.4375rem;
  background: transparent;
  --bs-accordion-bg: transparent;
}
@media (max-width: 576px) {
  .questions-wrapper-accordion {
    margin-top: 3.5625rem;
  }
}
.questions-wrapper-accordion .accordion-item {
  border-radius: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 0.74px solid #CACACA;
}
.questions-wrapper-accordion .accordion-item .accordion-header .accordion-button {
  color: #000;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 150%;
  padding: 28px 28px 28px 5px;
}
.questions-wrapper-accordion .accordion-item .accordion-header .accordion-button:focus {
  box-shadow: none;
}
.questions-wrapper-accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  color: #000;
  font-size: 1.125rem;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.questions-wrapper-accordion .accordion-item .accordion-body {
  padding-left: 6px;
  padding-top: 0;
}
.questions-wrapper-accordion .accordion-item .accordion-body .text-body li {
  color: #333;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 140%; /* 21px */
}

footer {
  margin-bottom: 6.9375rem;
}
@media (max-width: 576px) {
  footer {
    margin-bottom: 2.9375rem;
  }
}
footer .inner .link-telegram .icon {
  display: flex;
  align-items: center;
}
footer .inner .link-telegram span {
  color: #495AEF;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 12px;
  white-space: nowrap;
}
@media (max-width: 1200px) {
  footer .inner .link-telegram span {
    margin-left: 8px;
  }
}
footer .inner .box1 {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-bottom: 1.0625rem;
  padding-left: 2.9375rem;
}
@media (max-width: 992px) {
  footer .inner .box1 {
    padding-left: 0;
  }
}
@media (max-width: 576px) {
  footer .inner .box1 {
    display: none;
  }
}
footer .inner .box1 a {
  color: #5A5A5A;
  font-size: 1rem;
  font-weight: 500;
  margin-right: 20px;
}
footer .inner .box1 a:last-child {
  margin-right: 0;
}
footer .inner .box2 {
  border-top: 1px solid #EFEFEF;
  border-bottom: 1px solid #EFEFEF;
  padding: 2.5625rem 3.3125rem 2.5625rem 0;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
@media (max-width: 1200px) {
  footer .inner .box2 {
    padding: 2.5625rem 0 2.5625rem 0;
  }
}
@media (max-width: 992px) {
  footer .inner .box2 {
    flex-direction: column;
  }
  footer .inner .box2 .link-telegram2 {
    display: none;
  }
}
@media (max-width: 576px) {
  footer .inner .box2 {
    border-top: 0;
  }
}
@media (max-width: 1200px) {
  footer .inner .box2 .footer-logo .logo {
    width: 250px;
    height: 100px;
  }
}
@media (max-width: 1080px) {
  footer .inner .box2 .footer-logo .logo {
    width: 200px;
    height: 100px;
  }
}
@media (max-width: 576px) {
  footer .inner .box2 .footer-logo {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(-20px);
  }
}
footer .inner .box2 .footer-logo .link-telegram1 {
  display: none;
}
@media (max-width: 992px) {
  footer .inner .box2 .footer-logo .link-telegram1 {
    display: initial;
    margin-top: 15px;
  }
}
@media (max-width: 576px) {
  footer .inner .box2 .footer-logo .link-telegram1 {
    display: initial;
    margin-left: 40px;
  }
}
footer .inner .box2 .links {
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  footer .inner .box2 .links {
    margin-top: 1.25rem;
    flex-wrap: wrap;
    gap: 10px;
  }
}
@media (max-width: 576px) {
  footer .inner .box2 .links {
    display: block;
    margin-top: 1.875rem;
  }
}
footer .inner .box2 .links a {
  color: #5A5A5A;
  font-size: 1rem;
  font-weight: 500;
  margin-right: 1.25rem;
  white-space: nowrap;
}
@media (max-width: 1200px) {
  footer .inner .box2 .links a {
    margin-right: 0.8rem;
  }
}
@media (max-width: 576px) {
  footer .inner .box2 .links a {
    display: block;
    margin-right: 0;
    margin-bottom: 1.3rem;
  }
  footer .inner .box2 .links a:last-child {
    margin-bottom: 0;
  }
}
footer .inner .box2 .links a:last-child {
  margin-right: 0;
}
footer .inner .box2 .links .last {
  display: none;
}
@media (max-width: 576px) {
  footer .inner .box2 .links .last {
    display: block;
  }
}
footer .inner .box3 {
  padding-top: 1.125rem;
  padding-left: 2.5625rem;
}
@media (max-width: 992px) {
  footer .inner .box3 {
    padding-left: 0;
  }
}
footer .inner .box3 span {
  color: #5A5A5A;
  font-size: 0.875rem;
  font-weight: 500;
  opacity: 0.7;
  margin-right: 137px;
}
@media (max-width: 576px) {
  footer .inner .box3 span {
    text-align: center;
    font-size: 0.75rem;
    margin-right: 0;
    display: block;
    margin-bottom: 20px;
  }
  footer .inner .box3 span:last-child {
    margin-bottom: 0;
  }
}
footer .inner .box3 span:last-child {
  margin-right: 0;
}

/*# sourceMappingURL=style.css.map */
