@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "helper";

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #303030;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #595959;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
  line-height: normal;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 16px;
  }
}


.container {
  max-width: 1360px;
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.def-heading {
  h2 {
    color: #333;
    font-size: 2.6875rem;
    font-weight: 700;
    line-height: 178.509%; /* 76.759px */
    margin-bottom: -8px;
    padding-bottom: 0;
    @media (max-width: 576px) {
      font-size: 2rem;
      margin-bottom: -3px;
      line-height: 128%;
    }
  }

  span {
    color: #828282;
    font-size: 1.8125rem;
    font-weight: 300;
    line-height: 178.509%;
    @media (max-width: 576px) {
      font-size: 1.25rem;
    }
  }
}

.def-btn {
  border-radius: 13px;
  background: #E83B3A;
  padding: 1.375rem 3.105875rem 1.4375rem 3.105875rem;
  color: #FFF;
  font-size: 1.1895rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  @media (max-width: 576px) {
    padding: 1.375rem 2.8rem 1.4375rem 2.8rem;
    font-size: 1.1rem;
  }
}


.header {
  width: 100%;
  height: 1000px;
  background: url("../images/header-bg.svg") no-repeat center bottom;
  background-size: contain;
  position: relative;
  overflow: hidden;
  padding-top: 39px;

  @media (max-width: 576px) {
    background-size: 305%;
    background-position: 82% bottom;
  }


  .pattern {
    &-left {
      position: absolute;
      left: 0;
      top: 0;
    }

    &-right {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &-title {
    color: #333;
    font-size: 43px;
    font-weight: 800;
    width: 100%;
    max-width: 932px;
    margin-top: 70px;
    text-shadow: rgb(255, 255, 255) 6px 0 0, rgb(255, 255, 255) 5.91686px 0.995377px 0, rgb(255, 255, 255) 5.66974px 1.96317px 0, rgb(255, 255, 255) 5.2655px 2.87655px 0px, rgb(255, 255, 255) 4.71532px 3.71022px 0, rgb(255, 255, 255) 4.03447px 4.44106px 0, rgb(255, 255, 255) 3.24181px 5.04883px 0, rgb(255, 255, 255) 2.35931px 5.51667px 0px, rgb(255, 255, 255) 1.41143px 5.83163px 0, rgb(255, 255, 255) 0.424423px 5.98497px 0, rgb(255, 255, 255) -0.574341px 5.97245px 0px, rgb(255, 255, 255) -1.55719px 5.79441px 0px, rgb(255, 255, 255) -2.49688px 5.45578px 0px, rgb(255, 255, 255) -3.36738px 4.96596px 0px, rgb(255, 255, 255) -4.14455px 4.33852px 0px, rgb(255, 255, 255) -4.80686px 3.59083px 0px, rgb(255, 255, 255) -5.33596px 2.74364px 0px, rgb(255, 255, 255) -5.71718px 1.8204px 0px, rgb(255, 255, 255) -5.93995px 0.84672px 0px, rgb(255, 255, 255) -5.99811px -0.150428px 0px, rgb(255, 255, 255) -5.89004px -1.14341px 0px, rgb(255, 255, 255) -5.61874px -2.1047px 0px, rgb(255, 255, 255) -5.19172px -3.00766px 0px, rgb(255, 255, 255) -4.62082px -3.82727px 0px, rgb(255, 255, 255) -3.92186px -4.54081px 0px, rgb(255, 255, 255) -3.11421px -5.12852px 0px, rgb(255, 255, 255) -2.22026px -5.57409px 0px, rgb(255, 255, 255) -1.26477px -5.86518px 0px, rgb(255, 255, 255) -0.274238px -5.99373px 0px, rgb(255, 255, 255) 0.723898px -5.95617px 0px, rgb(255, 255, 255) 1.70197px -5.75355px 0px, rgb(255, 255, 255) 2.63288px -5.39147px 0px, rgb(255, 255, 255) 3.49082px -4.87998px 0px, rgb(255, 255, 255) 4.25202px -4.23324px 0px, rgb(255, 255, 255) 4.89538px -3.46919px 0px, rgb(255, 255, 255) 5.40307px -2.60899px 0px, rgb(255, 255, 255) 5.76102px -1.67649px 0px, rgb(255, 255, 255) 5.95932px -0.697531px 0px;


    @media (max-width: 767px) {
      margin-top: 300px;
      font-size: 29px;
    }

    span {
      color: #495AEF;
    }
  }

  .def-btn {
    @media (max-width: 767px) {
      background: linear-gradient(102deg, rgba(0, 0, 0, 0.12) 41.42%, rgba(0, 0, 0, 0.00) 83.15%), #495AEF;
    }
  }

  &-time {
    width: auto;
    position: absolute;
    top: 175px;
    right: 10px;
    @media (max-width: 1251px) {
      top: 395px;
      background: #ffffff59;
      backdrop-filter: blur(10px);
      padding: 20px;
      border-radius: 10px;
    }
    @media (max-width: 767px) {
      right: unset;
      left: 50%;
      transform: translateX(-50%);
      top: 184px;
    }
    @media (max-width: 576px) {
      width: 90%;
    }

    &-title {
      color: #5A5A5A;
      font-size: 19.03px;
      font-weight: 500;
      margin-bottom: 39px;
      @media (max-width: 767px) {
        text-align: center;
      }
    }

    &-body {
      @include flex('c', 'c');
    }

    &-item {
      border: 2px solid #5A5A5A;
      border-radius: 10px;
      width: 59.727px;
      height: 73px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: #fff;

      &:nth-of-type(2) {
        margin-left: 10px;
        margin-right: 10px;
      }

      &-count {
        font-size: 35px;
        color: #5A5A5A;
        font-weight: 700;
      }

      &-name {
        margin-bottom: 0;
        font-weight: 700;
        font-size: 16px;
        color: #5A5A5A;
      }
    }
  }
}

.menu-site {
  display: flex;
  justify-content: space-between;
  align-items: center;


  &-item {
    color: #5A5A5A;
    font-size: 16px;
    font-weight: 500;
    margin-right: 19px;
    transition: 0.3s;
    white-space: nowrap;


    @media (max-width: 1217px) {
      margin-bottom: 20px;
    }

    &:hover {
      color: #E83B3A;
    }

    &.active {
      color: #E83B3A;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    @media (max-width: 1217px) {
      flex-wrap: wrap;
      justify-content: start;
    }
    @media (max-width: 767px) {
      display: none;
    }


    &-solid-one {
      width: 52px;
      height: 2px;
      background: #E83B3A;
      position: absolute;
      left: 0;
      bottom: -17px;
      transition: 0.5s;
      @media (max-width: 1217px) {
        display: none;
      }

    }

    &-solid-two {
      width: 29px;
      height: 2px;
      background: #E83B3A;
      position: absolute;
      left: 0;
      bottom: -22px;
      transition: 0.8s;
      @media (max-width: 1217px) {
        display: none;
      }

    }
  }
}

.functions {
  @media (max-width: 767px) {
    margin-top: -10px;
  }
  &-logo-img {
    @media (max-width: 576px) {
      width: 200px;
      height: 100px;
      transform: translateX(-20px);
    }
  }

  &-row {
    @media (max-width: 768px) {
      overflow-x: auto;
      overflow-y: hidden;
      &::-webkit-scrollbar {
        width: 5px;
        height: 0;
        border-radius: 5px;
      }
    }

    .row {
      @media (max-width: 768px) {
        width: 1200px;
      }
      @media (max-width: 576px) {
        width: 1000px;
      }
      @media (max-width: 376px) {
        width: 900px;
      }
    }
  }

  &-item {
    border-radius: 2.5rem;
    border: 2px solid #E83B3A;
    padding: 2.3125rem 4.0625rem;
    height: 100%;
    transition: 0.3s;
    //.img2{
    //  display: none;
    //
    //  @media (max-width: 768px) {
    //    display: initial;
    //  }
    //}
    //
    //.img1{
    //  @media (max-width: 768px) {
    //    display: none;
    //  }
    //}

    &:hover{
      background: linear-gradient(102deg, rgba(0, 0, 0, 0.12) 41.42%, rgba(0, 0, 0, 0.00) 83.15%), #495AEF;
      border: 2px solid #495AEF;
      @media (min-width: 768px) {
        box-shadow: 0 14px 60.4px 0 rgba(73, 110, 239, 0.50);
      }
      p{
        color: #fff;
      }
      svg{
        fill: #fff;
        path{
          fill: #fff
        }
      }
      .usa [fill="#495AEF"]{
        fill: #495AEF;
      }
    }

    @media (max-width: 576px) {
      padding: 1.3784375rem 2.421625rem;
    }

    &.blue {
      border-radius: 40px;
      //background: linear-gradient(102deg, rgba(0, 0, 0, 0.12) 41.42%, rgba(0, 0, 0, 0.00) 83.15%), #495AEF;
      //border: 0;
      @media (max-width: 768px) {
        border-radius: 2.5rem;
        background: #fff;
        border: 2px solid #E83B3A;
        padding: 2.3125rem 4.0625rem;
        height: 100%;
        @media (max-width: 576px) {
          padding: 1.3784375rem 2.421625rem;
        }
      }
    }
  }
}


// .About-program

.About-program {
  margin-top: 8rem;
  position: relative;
  @media (max-width: 576px) {
    margin-top: 4.25rem;
  }

  &-bg {
    position: absolute;
    left: -4%;
    top: -280px;
    z-index: -1;
    width: 1200px;
    height: 1300px;
    @media (max-width: 768px) {
      width: 700px;
      height: 700px;
      left: -20%;
      top: -90px;
    }
    @media (max-width: 576px) {
      width: 700px;
      height: 700px;
      top: -120px;
      left: -35%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-heading {
    margin-left: 3.5625rem;
    margin-bottom: 3.5625rem;
    @media (max-width: 768px) {
      margin-left: 1.5625rem;
      margin-bottom: 2.8125rem;
    }

    h2 {
      color: #333;
      font-size: 2.6875rem;
      font-weight: 700;
      line-height: 178.509%; /* 76.759px */
      margin-bottom: -8px;
      padding-bottom: 0;
      @media (max-width: 576px) {
        font-size: 2rem;
      }
    }

    span {
      color: #828282;
      font-size: 1.8125rem;
      font-weight: 300;
      line-height: 178.509%;
      @media (max-width: 576px) {
        font-size: 1.25rem;
      }
    }
  }

  .image {
    @media (max-width: 768px) {
      margin-bottom: 1.5625rem;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .col-box {
    padding-left: 2.1875rem;
    @media (max-width: 768px) {
      padding-left: 0;
    }

    p {
      max-width: 700px;
      width: 100%;
      color: #333;
      font-size: 1rem;
      font-weight: 400;
      line-height: 202.489%; /* 32.398px */
      @media (max-width: 576px) {
        font-size: 0.875rem;
      }

      span {
        font-weight: 700;
      }
    }

    &-button {
      width: 100%;
      text-align: center;
      margin-top: 3.75rem;
      @media (max-width: 576px) {
        margin-top: 3rem;
      }

      button {
        margin: 0 auto;
      }
    }
  }

}


///.. .step Program

.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  padding-left: 0;
  li {
    position: relative;
    width: 9px;
    height: 9px;
    margin: 0 5px;
    background: #495AEF;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &.slick-active {
      width: 14px;
      height: 14px;

      button {
        background: #E83B3A;
      }
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;

      &:before {
        content: "";
        opacity: .75;
      }
    }
  }
}

.slick-dots li.slick-active button:before {
  opacity: .75 !important;
  color: #FF6900 !important;
}

.stages-program {
  background: #F9FAFD;
  margin-top: 9.1875rem;
  padding-bottom: 3.5rem;
  position: relative;
  @media (max-width: 768px) {
    margin-top: 3.75rem;
  }

  &-heading {
    padding-top: 3.75rem;
    @media (max-width: 768px) {
      margin-top: 2.375rem;
    }
    margin: 0 auto;
    text-align: center;

    h2 {
      color: #333;
      text-align: center;
      font-size: 2.6875rem;
      font-weight: 700;
      line-height: 178.509%; /* 76.759px */
      margin-bottom: -8px;
      padding-bottom: 0;
      @media (max-width: 576px) {
        font-size: 2rem;
        line-height: unset;
      }
    }

    span {
      color: #828282;
      font-size: 1.8125rem;
      font-weight: 300;
      line-height: 178.509%;
      @media (max-width: 576px) {
        font-size: 1.25rem;
      }
    }
  }

  .slider-btn {
    margin: 0 auto;
    display: none;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    @media (max-width: 768px) {
      display: flex;
      justify-content: center;
    }

    img {
      cursor: pointer;
    }
  }

  &-row {
    margin-top: 4.375rem;
    position: relative;
    @media (max-width: 768px) {
      margin-top: 6.9rem;
    }

    &-box {
      .icon {
        position: relative;
        margin: 0 auto;

        &-etaps {
          margin: 0 auto;
          width: 96px;
          height: 96px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          text-align: center;
          font-size: 2rem;
          font-weight: 700;
        }

        &-right {
          position: absolute;
          top: 50%;
          transform: rotateY(-50%);
          right: -48px;
        }
      }

      .title {
        margin: 42px 0;

        h2 {
          margin-bottom: 0;
          padding-bottom: 0;
          color: #000;
          text-align: center;
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 150%; /* 36px */
        }
      }

      .sub-title {
        padding-left: 1.5rem;
        color: #333;
        max-width: 262px;
        width: 100%;
        font-size: 1rem;
        font-weight: 400;
        line-height: 202.489%; /* 32.398px */
        @media (max-width: 768px) {
          padding-left: 0;
          margin: 0 auto 20px auto;
        }
      }
    }
  }


}

///.. .step Program End


//... requirements


.requirements {
  margin-top: 7.75rem;
  @media (max-width: 576px) {
    margin-top: 3.125rem;
  }

  .image {
    max-width: 1300px;
    width: 100%;
    position: absolute;
    right: -45%;
    top: -35%;
    height: auto;
    @media (max-width: 1200px) {
      right: -50%;
      max-width: 1200px;
      top: -30%;
    }
    @media (max-width: 1024px) {
      right: -50%;
      max-width: 1000px;
      top: -22%;
    }
    @media (max-width: 992px) {
      left: 0;
      max-width: 1000px;
      top: -18%;
    }
    @media (max-width: 768px) {
      left: 0;
      max-width: 1100px;
      top: -10%;
    }
    @media (max-width: 688px) {
      top: -7%;
    }
    @media (max-width: 576px) {
      left: 0;
      max-width: unset;
      width: 700px;
      top: -8%;
    }
    @media (max-width: 475px) {
      top: -10%;
    }
    @media (max-width: 426px) {
      top: -5%;
      left: -3%;
    }
    @media (max-width: 376px) {
      top: -4%;
      left: -4%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: -31%;
    }
  }

  &-row {
    margin-top: 6.125rem;
    @media (max-width: 992px) {
      margin-top: 30.5rem;
    }
    @media (max-width: 768px) {
      margin-top: 25.5rem;
    }
    @media (max-width: 576px) {
      margin-top: 20.5rem;
    }

    .col-box {
      width: 100%;
      height: 100%;

      .texts {
        display: flex;
        align-items: start;
        margin-bottom: 2.5rem;
        @media (max-width: 576px) {
          flex-direction: column;
          justify-content: start;
          margin-bottom: 2rem;
        }

        &:last-child {
          margin-bottom: 0;
        }

        .blue {
          border-radius: 30px;
          width: 91px;
          height: 91px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 12.5px;
          background: linear-gradient(102deg, rgba(0, 0, 0, 0.12) 41.42%, rgba(0, 0, 0, 0.00) 83.15%), #495AEF;
          color: var(--White, #FFF);
          text-align: center;
          font-size: 2.5rem;
          font-weight: 600;
          @media (max-width: 576px) {
            width: 72px;
            height: 72px;
            padding: 9.753px;
            margin-bottom: 1.125rem;
          }
        }

        .title {
          margin-left: 1.6875rem;
          color: #000;
          font-size: 1.25rem;
          font-weight: 400;
          line-height: 150%; /* 30px */
          max-width: 33.875rem;
          width: 100%;
          @media (max-width: 576px) {
            margin-left: 0;
          }
        }

      }

    }
  }


}


.sendForm {
  .def-heading {
    margin: 0 auto 28px auto;
    text-align: center;
    @media (max-width: 576px) {
      text-align: start;
      margin-bottom: 50px;
    }
  }

  &-body {
    background: url("../images/form.webp") no-repeat center;
    background-size: cover;
    padding-top: 72px;
    padding-bottom: 106px;

    &-title {
      @media (max-width: 576px) {
        max-width: 307px;
        margin: 0 auto !important;
        width: 100%;
      }
    }

    form {
      width: 100%;
      border-radius: 25px;
      background: #FFF;
      box-shadow: 0 4px 8.8px 0 rgba(29, 38, 62, 0.12);
      padding: 34px 24px;
      @media (max-width: 576px) {
        padding: 30px 12px;
      }
    }
  }
}

.def-input {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  margin-bottom: 0.625rem;
  @media (max-width: 992px) {
    margin-bottom: 0;
  }

  &.active {
    span {
      transform: translateY(22px);
      opacity: 1;
      color: #828282;
      font-size: 11px;
      font-weight: 400;
    }

    input {
      border: 2px solid #333;
    }
  }

  span {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.4375rem;
    color: #000;
    transform: translateY(40px);
    transition: 0.3s;
    cursor: text;
    opacity: 0.9;
    margin-left: 19px;
  }

  input {
    width: 100%;
    height: 3.6875rem;
    border-radius: 1.0625rem;
    border: 2px solid #D8D8D8;
    font-style: normal;
    transition: 0.3s;
    color: #333;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 150%; /* 27px */
    padding-left: 19px;

  }
  &.error{
    input{
      border: 2px solid #f33a3a;
    }
  }


}

.select2 {
  width: 100% !important;

  .selection {
    width: 100%;
  }

}

.select2-container--default .select2-selection--single {
  width: 100%;
  height: 59px;
  border-radius: 17px;
  border: 2px solid #D8D8D8;
  margin-bottom: 10px;
  transition: 0.3s;
  color: #333;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%; /* 27px */
  padding-top: 10px;
  padding-left: 19px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 2px solid #333;
}

.select2-container--open .select2-dropdown--below {
  margin-top: -10px;
  border-radius: 0 0 17px 17px;
  border: 2px solid #D8D8D8;
  background: #FFF;
  border-top: 0;
  overflow: auto;
}

.select2-selection__arrow {
  &:after {
    content: "\f078";
    font-family: FontAwesome, serif;
    position: absolute;
    top: 18px;
    right: 32px;
    color: #D8D8D8;
    transition: 0.3s;
    transform: rotate(0);
  }

  b {
    display: none;
  }
}

.select2-container--open {
  .select2-selection__arrow {
    &:after {
      transform: rotate(-180deg);
    }
  }
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #333;
  font-size: 18px;
  line-height: 150%;
  margin-top: 3px;
  font-weight: 700;
  padding-left: 0;
}

.select2-results__option--selectable {
  color: #333;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%; /* 27px */
  padding-left: 19px;
}

.select2-container--default .select2-results__option--selected {
  background: #FFECEC;
}


.reviews {
  width: 100%;

  .def-heading {
    text-align: center;
  }

  .slider-btn {
    display: none;
    @media (max-width: 992px) {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 3.4375rem;
    }
  }

  &-item {
    height: 395px;
    padding: 31px 34px 21px 34px;
    border-radius: 22px;
    border: 1px solid #E3E3E3;
    background: #FFF;
    position: relative;
    transition: 0.3s;
    @media (max-width: 1200px) {
      height: 450px;
    }
    @media (max-width: 1060px) {
      height: 490px;
    }
    @media (max-width: 1024px) {
      height: 420px;
    }
    @media (max-width: 576px) {
      height: auto;
    }

    &:hover {
      box-shadow: 0 5px 19.7px 0 rgba(35, 32, 38, 0.12);
    }

    &-more {
      color: #495AEF;
      text-align: right;
      font-size: 14px;
      font-weight: 700;
      line-height: 150%; /* 21px */
      position: absolute;
      bottom: 34px;
      right: 34px;
      @media (max-width: 576px) {
        bottom: 21px;
      }
    }
  }
}

.mobile-menu{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  background: #ffffff47;
  transform: translateX(-100%);
  opacity: 0;
  transition: 0.3s;
  padding: 40px 25px 25px;

  &.active{
    transform: translateX(0);
    opacity: 1;
  }
  &-items{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
  }
  &-item{
    color: #333;
    display: block;
    font-size: 18px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.26);
    width: 100%;
    padding-bottom: 5px;
    transition: 0.3s;
    &:hover{
      border-bottom: 1px solid rgba(51, 51, 51, 1);
    }
    &:last-child{
      border: 0
    }
  }
}

.speakers {

  &-slider-icon{
    @media (max-width: 768px) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
     top: 90%;
    }
  }

  .pattern-left {
    position: absolute;
    left: 0;
    top: -16%;
  }

  &-item {
    margin-right: 66px;
    @media (max-width: 576px) {
      margin-right: 0;
    }
    &-user-logo{
      @media (max-width: 576px) {
        margin: 0 auto;
      }
    }
    &-text1{
      @media (max-width: 576px) {
        text-align: center;
      }
    }
  }

  &-arrows {
    * {
      transition: 0.3s;
    }

    &:hover {
      * {
        fill: #495AEF;
      }
    }
  }
}


//...questions


.questions {
  margin-top: 11.875rem;
  margin-bottom: 9.1875rem;
  @media (max-width: 576px) {
    margin-top: 2.5rem;
    margin-bottom: 8.125rem;
  }

  &-wrapper {
    max-width: 957px;
    width: 100%;
    margin: 0 auto;

    .def-heading {
      @media (max-width: 576px) {
        margin: 0 auto;
        text-align: center;
      }
    }

    &-accordion {
      margin-top: 4.4375rem;
      background: transparent;
      --bs-accordion-bg: transparent;
      @media (max-width: 576px) {
        margin-top: 3.5625rem;
      }

      .accordion-item {
        border-radius: 0;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-bottom: 0.74px solid #CACACA;

        .accordion-header {

          .accordion-button {
            color: #000;
            font-size: 1.125rem;
            font-weight: 700;
            line-height: 150%;
            padding: 28px 28px 28px 5px;

            &:focus {
              box-shadow: none;
            }

            &:not(.collapsed) {
              color: #000;
              font-size: 1.125rem;
              background-color: transparent;
              -webkit-box-shadow: none;
              box-shadow: none;
            }
          }


        }

        .accordion-body {
          padding-left: 6px;
          padding-top: 0;

          .text-body {
            li {
              color: #333;
              font-size: 0.9375rem;
              font-weight: 400;
              line-height: 140%; /* 21px */
            }
          }
        }

      }

    }


  }


}


//...questions End


// Footer


footer {
  margin-bottom: 6.9375rem;
  @media (max-width: 576px) {
    margin-bottom: 2.9375rem;
  }

  .inner {

    .link-telegram {

      .icon {
        display: flex;
        align-items: center;
      }

      span {
        color: #495AEF;
        font-size: 1rem;
        font-weight: 500;
        margin-left: 12px;
        white-space: nowrap;
        @media (max-width: 1200px) {
          margin-left: 8px;
        }
      }
    }

    .box1 {
      display: flex;
      justify-content: start;
      align-items: center;
      padding-bottom: 1.0625rem;
      padding-left: 2.9375rem;
      @media (max-width: 992px) {
        padding-left: 0;
      }
      @media (max-width: 576px) {
        display: none;
      }

      a {
        color: #5A5A5A;
        font-size: 1rem;
        font-weight: 500;
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .box2 {
      border-top: 1px solid #EFEFEF;
      border-bottom: 1px solid #EFEFEF;
      padding: 2.5625rem 3.3125rem 2.5625rem 0;
      display: flex;
      justify-content: space-between;
      align-items: start;
      @media (max-width: 1200px) {
        padding: 2.5625rem 0 2.5625rem 0;
      }
      @media (max-width: 992px) {
        flex-direction: column;
        .link-telegram2 {
          display: none;
        }
      }
      @media (max-width: 576px) {
        border-top: 0;
      }


      .footer-logo {
        .logo {
          @media (max-width: 1200px) {
            width: 250px;
            height: 100px;
          }
          @media (max-width: 1080px) {
            width: 200px;
            height: 100px;
          }
        }

        @media (max-width: 576px) {
          margin: 0 auto;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          transform: translateX(-20px);
        }

        .link-telegram1 {
          display: none;
          @media (max-width: 992px) {
            display: initial;
            margin-top: 15px;
          }
          @media (max-width: 576px) {
            display: initial;
            margin-left: 40px;
          }
        }
      }

      .links {
        display: flex;
        align-items: center;
        @media (max-width: 992px) {
          margin-top: 1.25rem;
          flex-wrap: wrap;
          gap: 10px;
        }
        @media (max-width: 576px) {
          display: block;
          margin-top: 1.875rem;
        }

        a {
          color: #5A5A5A;
          font-size: 1rem;
          font-weight: 500;
          margin-right: 1.25rem;
          white-space: nowrap;
          @media (max-width: 1200px) {
            margin-right: .8rem;
          }
          @media (max-width: 576px) {
            display: block;
            margin-right: 0;
            margin-bottom: 1.3rem;
            &:last-child {
              margin-bottom: 0;
            }
          }

          &:last-child {
            margin-right: 0;
          }
        }

        .last {
          display: none;
          @media (max-width: 576px) {
            display: block;
          }
        }
      }

    }

    .box3 {
      padding-top: 1.125rem;
      padding-left: 2.5625rem;
      @media (max-width: 992px) {
        padding-left: 0;
      }

      span {
        color: #5A5A5A;
        font-size: 0.875rem;
        font-weight: 500;
        opacity: 0.7;
        margin-right: 137px;
        @media (max-width: 576px) {
          text-align: center;
          font-size: 0.75rem;
          margin-right: 0;
          display: block;
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

  }

}