@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "helper";

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #303030;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #595959;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
  line-height: normal;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 16px;
  }
}


.container {
  max-width: 1360px;
  width: 100%;
}

.cursor-pointer{
  cursor: pointer;
}

.def-heading{
  h2 {
    color: #333;
    font-size: 2.6875rem;
    font-weight: 700;
    line-height: 178.509%; /* 76.759px */
    margin-bottom: -8px;
    padding-bottom: 0;
    @media (max-width: 576px) {
      font-size: 2rem;
    }
  }

  span {
    color: #828282;
    font-size: 1.8125rem;
    font-weight: 300;
    line-height: 178.509%;
    @media (max-width: 576px) {
      font-size: 1.25rem;
    }
  }
}

.def-btn {
  border-radius: 13px;
  background: #E83B3A;
  display: flex;
  padding: 1.375rem 3.105875rem 1.4375rem 3.105875rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFF;
  font-size: 1.1895rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  @media (max-width: 576px) {
    padding: 1.375rem 2.8rem 1.4375rem 2.8rem;
    font-size: 1.1rem;
  }
}


.header {
  width: 100%;
  height: 1100px;
  background: url("../images/header-bg.svg") no-repeat center bottom;
  background-size: contain;
  position: relative;
  overflow: hidden;
  padding-top: 39px;

  .pattern {
    &-left {
      position: absolute;
      left: 0;
      top: 0;
    }

    &-right {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &-title {
    color: #333;
    font-size: 43px;
    font-weight: 800;
    width: 100%;
    max-width: 932px;
    margin-top: 70px;
    text-shadow: rgb(255, 255, 255) 6px 0 0, rgb(255, 255, 255) 5.91686px 0.995377px 0, rgb(255, 255, 255) 5.66974px 1.96317px 0, rgb(255, 255, 255) 5.2655px 2.87655px 0px, rgb(255, 255, 255) 4.71532px 3.71022px 0, rgb(255, 255, 255) 4.03447px 4.44106px 0, rgb(255, 255, 255) 3.24181px 5.04883px 0, rgb(255, 255, 255) 2.35931px 5.51667px 0px, rgb(255, 255, 255) 1.41143px 5.83163px 0, rgb(255, 255, 255) 0.424423px 5.98497px 0, rgb(255, 255, 255) -0.574341px 5.97245px 0px, rgb(255, 255, 255) -1.55719px 5.79441px 0px, rgb(255, 255, 255) -2.49688px 5.45578px 0px, rgb(255, 255, 255) -3.36738px 4.96596px 0px, rgb(255, 255, 255) -4.14455px 4.33852px 0px, rgb(255, 255, 255) -4.80686px 3.59083px 0px, rgb(255, 255, 255) -5.33596px 2.74364px 0px, rgb(255, 255, 255) -5.71718px 1.8204px 0px, rgb(255, 255, 255) -5.93995px 0.84672px 0px, rgb(255, 255, 255) -5.99811px -0.150428px 0px, rgb(255, 255, 255) -5.89004px -1.14341px 0px, rgb(255, 255, 255) -5.61874px -2.1047px 0px, rgb(255, 255, 255) -5.19172px -3.00766px 0px, rgb(255, 255, 255) -4.62082px -3.82727px 0px, rgb(255, 255, 255) -3.92186px -4.54081px 0px, rgb(255, 255, 255) -3.11421px -5.12852px 0px, rgb(255, 255, 255) -2.22026px -5.57409px 0px, rgb(255, 255, 255) -1.26477px -5.86518px 0px, rgb(255, 255, 255) -0.274238px -5.99373px 0px, rgb(255, 255, 255) 0.723898px -5.95617px 0px, rgb(255, 255, 255) 1.70197px -5.75355px 0px, rgb(255, 255, 255) 2.63288px -5.39147px 0px, rgb(255, 255, 255) 3.49082px -4.87998px 0px, rgb(255, 255, 255) 4.25202px -4.23324px 0px, rgb(255, 255, 255) 4.89538px -3.46919px 0px, rgb(255, 255, 255) 5.40307px -2.60899px 0px, rgb(255, 255, 255) 5.76102px -1.67649px 0px, rgb(255, 255, 255) 5.95932px -0.697531px 0px;

    span {
      color: #495AEF;
    }
  }
  &-time {
    width: auto;
    position: absolute;
    top: 175px;
    right: 0;
    &-title{
      color: #5A5A5A;
      font-size: 19.03px;
      font-weight: 500;
      margin-bottom: 39px;
    }
    &-body{
      @include flex('c', 'c');
    }
    &-item{
      border: 2px solid #5A5A5A;
      border-radius: 10px;
      width: 59.727px;
      height: 73px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: #fff;
      &:nth-of-type(2){
        margin-left: 10px;
        margin-right: 10px;
      }
      &-count{
        font-size: 35px;
        color: #5A5A5A;
        font-weight: 700;
      }
      &-name{
        margin-bottom: 0;
        font-weight: 700;
        font-size: 16px;
        color: #5A5A5A;
      }
    }
  }
}

.menu-site {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-item {
    color: #5A5A5A;
    font-size: 16px;
    font-weight: 500;
    margin-right: 19px;
    transition: 0.3s;

    &:hover {
      color: #E83B3A;
    }

    &.active {
      color: #E83B3A;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &-solid-one {
      width: 52px;
      height: 2px;
      background: #E83B3A;
      position: absolute;
      left: 0;
      bottom: -17px;
      transition: 0.5s;
    }

    &-solid-two {
      width: 29px;
      height: 2px;
      background: #E83B3A;
      position: absolute;
      left: 0;
      bottom: -22px;
      transition: 0.8s;
    }
  }
}

.functions {
  &-item {
    border-radius: 2.5rem;
    border: 2px solid #E83B3A;
    padding: 2.3125rem 4.0625rem;
    height: 100%;

    &.blue {
      border-radius: 40px;
      background: linear-gradient(102deg, rgba(0, 0, 0, 0.12) 41.42%, rgba(0, 0, 0, 0.00) 83.15%), #495AEF;
      box-shadow: 0 14px 60.4px 0 rgba(73, 110, 239, 0.50);
      border: 0;
    }
  }
}


// .About-program

.About-program {
  margin-top: 8rem;
  position: relative;

  &-bg {
    position: absolute;
    left: -4%;
    top: -280px;
    z-index: -1;
    width: 1200px;
    height: 1300px;
    @media (max-width: 768px) {
      width: 700px;
      height: 700px;
      left: -20%;
      top: -90px;
    }
    @media (max-width: 576px) {
      width: 700px;
      height: 700px;
      top: -120px;
      left: -35%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-heading {
    margin-left: 3.5625rem;
    margin-bottom: 3.5625rem;
    @media (max-width: 768px) {
      margin-left: 1.5625rem;
      margin-bottom: 2.8125rem;
    }

    h2 {
      color: #333;
      font-size: 2.6875rem;
      font-weight: 700;
      line-height: 178.509%; /* 76.759px */
      margin-bottom: -8px;
      padding-bottom: 0;
      @media (max-width: 576px) {
        font-size: 2rem;
      }
    }

    span {
      color: #828282;
      font-size: 1.8125rem;
      font-weight: 300;
      line-height: 178.509%;
      @media (max-width: 576px) {
        font-size: 1.25rem;
      }
    }
  }

  .image {
    @media (max-width: 768px) {
      margin-bottom: 1.5625rem;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .col-box {
    padding-left: 2.1875rem;
    @media (max-width: 768px) {
      padding-left: 0;
    }

    p {
      max-width: 700px;
      width: 100%;
      color: #333;
      font-size: 1rem;
      font-weight: 400;
      line-height: 202.489%; /* 32.398px */
      @media (max-width: 576px) {
        font-size: 0.875rem;
      }

      span {
        font-weight: 700;
      }
    }

    &-button {
      width: 100%;
      text-align: center;
      margin-top: 3.75rem;
      @media (max-width: 576px) {
        margin-top: 3rem;
      }

      button {
        margin: 0 auto;
      }
    }
  }

}




///.. .step Program

.slick-dots{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  li{
    position: relative;
    width: 9px;
    height: 9px;
    margin: 0 5px;
    background: #495AEF;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    &.slick-active{
      width: 14px;
      height: 14px;
      button{
        background: #E83B3A;
      }
    }
    button{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
      &:before{
        content: "";
        opacity: .75;
      }
    }
  }
}

.slick-dots li.slick-active button:before {
  opacity: .75 !important;
  color: #FF6900 !important;
}

.stages-program{
  background: #F9FAFD;
  margin-top: 9.1875rem;
  padding-bottom: 3.5rem;
  position: relative;
  @media (max-width: 768px) {
    margin-top: 3.75rem;
  }
  &-heading{
    padding-top: 3.75rem;
    @media (max-width: 768px) {
      margin-top: 2.375rem;
    }
    margin: 0 auto;
    text-align: center;
    h2{
      color: #333;
      text-align: center;
      font-size: 2.6875rem;
      font-weight: 700;
      line-height: 178.509%; /* 76.759px */
      margin-bottom: -8px;
      padding-bottom: 0;
      @media (max-width: 576px) {
        font-size: 2rem ;
      }
    }
    span{
      color: #828282;
      font-size: 1.8125rem;
      font-weight: 300;
      line-height: 178.509%;
      @media (max-width: 576px) {
        font-size: 1.25rem;
      }
    }
  }

  .slider-btn{
    margin: 0 auto;
    display: none;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    @media (max-width: 768px) {
      display: flex;
      justify-content: center;
    }
    img{
      cursor: pointer;
    }
  }

  &-row{
    margin-top: 4.375rem;
    position: relative;
    @media (max-width: 768px) {
      margin-top: 6.9rem;
    }

    &-box{
      .icon{
        position: relative;
        margin: 0 auto;
        &-etaps{
          margin: 0 auto;
          width: 96px;
          height: 96px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          text-align: center;
          font-size: 2rem;
          font-weight: 700;
        }
        &-right{
          position: absolute;
          top: 50%;
          transform: rotateY(-50%);
          right: -48px;
        }
      }

      .title{
        margin: 42px 0;
        h2{
          margin-bottom: 0;
          padding-bottom: 0;
          color: #000;
          text-align: center;
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 150%; /* 36px */
        }
      }
      .sub-title{
        padding-left: 1.5rem;
        color: #333;
        max-width: 262px;
        width: 100%;
        font-size: 1rem;
        font-weight: 400;
        line-height: 202.489%; /* 32.398px */
        @media (max-width: 768px) {
          padding-left: 1.5rem;
          margin: 0 auto 20px auto;
        }
      }
    }
  }


}

///.. .step Program End


.sendForm {
  &-body {
    background: url("../images/form.webp") no-repeat center;
    background-size: cover;
    padding-top: 72px;
    padding-bottom: 106px;

    form {
      width: 100%;
      border-radius: 25px;
      background: #FFF;
      box-shadow: 0 4px 8.8px 0 rgba(29, 38, 62, 0.12);
      padding: 34px 24px;
    }
  }
}

.def-input {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  margin-bottom: 0.625rem;

  &.active {
    span {
      transform: translateY(22px);
      opacity: 1;
      color: #828282;
      font-size: 11px;
      font-weight: 400;
    }

    input {
      border: 2px solid #333;
    }
  }

  span {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.4375rem;
    color: #000;
    transform: translateY(40px);
    transition: 0.3s;
    cursor: text;
    opacity: 0.9;
    margin-left: 19px;
  }

  input {
    width: 100%;
    height: 3.6875rem;
    border-radius: 1.0625rem;
    border: 2px solid #D8D8D8;
    font-style: normal;
    transition: 0.3s;
    color: #333;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 150%; /* 27px */
    padding-left: 19px;

  }
}

.select2 {
  width: 100% !important;

  .selection {
    width: 100%;
  }

}

.select2-container--default .select2-selection--single {
  width: 100%;
  height: 59px;
  border-radius: 17px;
  border: 2px solid #D8D8D8;
  margin-bottom: 10px;
  transition: 0.3s;
  color: #333;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%; /* 27px */
  padding-top: 10px;
  padding-left: 19px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 2px solid #333;
}

.select2-container--open .select2-dropdown--below {
  margin-top: -10px;
  border-radius: 0 0 17px 17px;
  border: 2px solid #D8D8D8;
  background: #FFF;
  border-top: 0;
}

.select2-selection__arrow {
  &:after {
    content: "\f078";
    font-family: FontAwesome, serif;
    position: absolute;
    top: 18px;
    right: 32px;
    color: #D8D8D8;
    transition: 0.3s;
    transform: rotate(0);
  }

  b {
    display: none;
  }
}

.select2-container--open {
  .select2-selection__arrow {
    &:after {
      transform: rotate(-180deg);
    }
  }
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #333;
  font-size: 18px;
  line-height: 150%;
  margin-top: 3px;
  font-weight: 700;
  padding-left: 0;
}

.select2-results__option--selectable {
  color: #333;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%; /* 27px */
  padding-left: 19px;
}

.select2-container--default .select2-results__option--selected {
  background: #FFECEC;
}




.reviews{
  width: 100%;
  &-item{
    height: 395px;
    padding: 31px 34px 21px 34px;
    border-radius: 22px;
    border: 1px solid #E3E3E3;
    background: #FFF;
    position: relative;
    transition: 0.3s;
    &:hover{
      box-shadow: 0 5px 19.7px 0 rgba(35, 32, 38, 0.12);
    }
    &-more{
      color: #495AEF;
      text-align: right;
      font-size: 14px;
      font-weight: 700;
      line-height: 150%; /* 21px */
      position: absolute;
      bottom: 34px;
      right: 34px ;
    }
  }
}

.speakers{
  .pattern-left{
    position: absolute;
    left: 0;
    top: 0;
  }
  &-item{
    margin-right: 66px;
  }
  &-arrows{
    *{
     transition: 0.3s;
    }
    &:hover{
      *{
        fill: #495AEF;
      }
    }
  }
}



